<div class="content-heading">
    <div class="text-align-right">
      <%= link_to cashes_path do%>
        <button class="btn btn-secondary">
          <i class="fas fa-arrow-left text-primary fa-1x"></i>
        </button>
      <%end %>
    </div>

    <div class="col-8"> Editar Caja </div>

</div>
<div class="card-body">
  <%= render 'form', cash: @cash %>
</div>