<fieldset style="height: 5px; border:none;">
  <table width="auto" align="center">
    <thead style="display:none">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><strong>Producto: </strong>
        <%= f.select :product_id,
                     options_from_collection_for_select(@products, "id", "description", f.object.product_id)%>
      </td>
      <td><strong style="margin-left: 20px">Cantidad: </strong>
        <%= f.text_field :request_quantity, :size => 3, class: "validame" %>
      </td>
      <td>
        <%= link_to "Eliminar" do%>
          <div class=" remove_fields btn btn-link text-danger">
            <i class="fas fa-trash-alt"></i>
          </div>
        <%end %>
      </td>
    </tr>
    </tbody>
  </table>
</fieldset>
<script>

</script>