<fieldset>
  <div class="row mt-5">
    <div class="col-3">
      <label>Forma de pago:</label>
      <%= select_tag(:pay_method_value_id, options_from_collection_for_select(PayMethodsValue.all, "id", "description", :pay_method_value_id)) %>
    </div>

    <div class="col-3 bg-gray rounded">
      <label>Monto:</label></br>
      <%= f.text_field :ammount %>
      <div class="credit-card d-none">
        <label>Nro. Tarjeta:</label>
        <input class="form-control" type="text"></input>
      </div>
    </div>

    <div class="col-3 bg-gray rounded check d-none">
      <label>Nro. Cuenta:</label>
      <input class="form-control" type="text"></input>
      <label>Nro. Cheque:</label>
      <input class="form-control" type="text"></input>
      <label>Librador:</label>
      <select class="custom-select"></select>
    </div>
    <div class="col-3 bg-gray rounded bank d-none">
      <label>Banco:</label>
      <select class="custom-select"></select>
      <label>Fecha Vencimiento:</label>
      <select class="custom-select"></select>
      <label>Fecha Emision:</label>
      <select class="custom-select"></select>
    </div>
  </div>
  <div>
    <%= link_to "Eliminar",'#',class: "remove_fields" %>
  </div>
</fieldset>
<script>
  <%= render 'pay_forms.js' %>
</script>