<tbody id="invoices-table">
<% @invoices.each do |invoice| %>
  <% if invoice.balance > 0 %>
    <tr>
      <td>Factura</td>
      <td><%= invoice.invoice_number %></td>
      <td><%= invoice.total %></td>
      <td> Guarani </td>
      <td><%= check_box_tag "invoices_ids[]", invoice.id , false , class: "pay_check", data: { "invoice-value" => invoice.total }%></td>
    </tr>
  <% end %>
<%end%>
<script>
    <%= render "total_pay.js" %>
</script>
</tbody>