<p></p>
<div class="content-heading">
  <div>Clientes</div>
  <div class="ml-auto">
    <%= link_to new_client_people_path do %>
      <button class="btn btn-secondary" title="Nuevo cliente">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>
