<fieldset style="margin: 0; border: 0; padding: 0;">
  <table class="table">
    <thead style="display:none">
      <tr>
        <th class="col-5">Producto</th>
        <th >Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-5">
          <%= f.select :product_id,
                       options_from_collection_for_select(Product.components_all, "id", "description", f.object.product_id), {},
                       { class: 'purchase-request-item-select'}%>
        </td>
        <td class="col-4">
          <%= f.text_field :quantity, :size => 3, class: "validame" %>
        </td>
        <td class="col-1">
          <%= link_to "Eliminar" do%>
            <div class=" remove_fields btn btn-link text-danger">
              <i class="fas fa-trash-alt"></i>
            </div>
          <%end %>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
<script>

</script>