<div class="content-heading">Usuarios</div>

<table class="table table-striped table-hover w-100" id="datatable2">
  <thead>
  <tr>
    <th style="width:80px;">
      <strong>USUARIO</strong>
    </th>
    <th>
      <strong>EMAIL</strong>
    </th>
    <th>
      <strong>ROLES</strong>
    </th>
    </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td><%= user.email %></td>
      <td class="text-center">
        <div class="btn-group" role="group">
          <%= link_to user_roles_path(user) do%>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
          <%end%>
        </div>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
