<div class="content-heading">
    <div>
        <small data-localize="dashboard.WELCOME"></small>
    </div>
    <!-- START Language list-->
    <div class="ml-auto">
    </div>
    <!-- END Language list-->
</div>
<div class="row">
    <div class="col-12 text-center">

    </div>
</div>
