<div class="content-heading">
  <div class="text-align-right">
    <%= link_to movement_types_path do%>
      <button class="btn btn-secondary">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <%end %>
  </div>

  <div class="col-8"> Detalles </div>
</div>

<div class="card card-default">
  <div role="tabpanel" class="ie-fix-flex">
    <div class="tab-content">
      <div class="tab-pane active" id="edit" role="tabpanel">

        <div class="form-group row">
          <label class="col-lg-2 col-form-label">Description:</label>
          <div class="col-lg-10">
            <label class="col-lg-3 col-form-label"><%= @movement_type.description %>
            </label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-2 col-form-label">Accion:</label>
          <div class="col-lg-10">
            <label class="col-lg-3 col-form-label"><%= @movement_type.action %>
          </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-12 col-xl-auto">
      <%= link_to edit_movement_type_path(@movement_type) do%>
        <button class="mb-1 btn btn-primary" type="button">Editar</button>
      <% end %>
    </div>
</div>
