<p></p>
<div class="content-heading">
  <div>Reportes</div>

  <!--div class="ml-auto">
    <%#= link_to new_order_path do %>
      <button class="btn btn-secondary" title="Crear Orden">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <%# end %>
  </div-->
</div>
<div class="content-body">
  <fieldset>
    <p>filtros</p>
  </fieldset>
</div>