
<p></p>
<div class="content-heading">
  <div class="text-align-right">
    <%= link_to  roles_path do%>
      <button class="btn btn-secondary">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <%end %>
  </div>
  <div>Editar Rol
  </div>
</div>

<!--<div class="card card-default">-->
<div class="card-body">
  <%= render 'edit', role: @role%>
</div>

