<div class="content-heading">
  <div class="text-align-right">
    <%= link_to  roles_path do%>
      <button class="btn btn-secondary">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <%end %>
  </div>
  <div>Crear Nuevo Role
  </div>
</div>


<%= render 'form', role: @role%>

