  <div class="content-heading">
     <div class="text-align-right">
    <%= link_to products_path do%>
      <button class="btn btn-secondary">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <%end %>
  </div>
   
   <div class="col-8">Nuevo Producto Terminado
     <small>Datos para crear un producto terminado</small>
   </div>
 </div>

 <%= render 'form', product: @product %>

