<p></p>
<div class="content-heading">
  <div>Nuevo Componente
    <small>Datos para agregar un nuevo componente</small>
  </div>
</div>

<!--<div class="card card-default">-->
<div class="card-body">
  <%= render 'components', product: @product %>
</div>