<li class="">
  <a href="#elements5" title="Caja" data-toggle="collapse">
    <em class="icon-wallet"></em>
    <span>Caja</span>
  </a>
  <ul id="elements5" class="sidebar-nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">Caja</li>
    <li class="">
      <a href="/cash_movements" title="Movimiento de Caja">
        <span>Movimiento de Caja</span>
      </a>
    </li>
    <li class="">
      <a href="/cash_movements/new" title="Cobro a Clientes">
        <span>Cobro a Clientes</span>
      </a>
    </li>
    <li class="">
      <a href="/open_close_cashes" title="Apertura y Cierre de Caja">
        <span>Apertura y Cierre de Caja</span>
      </a>
    <li class="">
      <a href="/cashes" title="Lista de Cajas">
        <span>Lista de Cajas</span>
      </a>
    </li>
  </ul>
</li>