<li class="">
  <a href="#elements2" title="Recursos humanos" data-toggle="collapse">
    <em class="icon-people"></em>
    <span>Recursos humanos</span>
  </a>
  <ul id="elements2" class="sidebar-nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">Recursos humanos</li>
    <li class="">
      <a href="/clients" title="Clientes">
        <span>Clientes</span>
      </a>
    </li>
    <li class="">
      <a href="/employees" title="Funcionarios">
        <span>Funcionarios</span>
      </a>
    </li>
    <li class="">
      <a href="/providers" title="Proveedores">
        <span>Proveedores</span>
      </a>
    </li>
  </ul>
</li>