<li class="">
  <a href="#elements4" title="Compras" data-toggle="collapse">
    <em class="icon-bag"></em>
    <span>Compras</span>
  </a>
  <ul id="elements4" class="sidebar-nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">Compras</li>
    <li class="">
      <a href="/purchase_requests" title="Pedido de compras">
        <span>Pedido de Compras</span>
      </a>
    </li>
    <li class="">
      <a href="/budget_requests" title="Pedido de cotización">
        <span>Pedido de Cotización</span>
      </a>
    </li>

    <li class="<%= 'active' if controller?('elements') && action?('button') %>">
      <a href="/purchase_orders" title="Orden de Compra">
        <span>Orden de Compra</span>
      </a>
    </li>
    <li class="">
      <a href="/purchase_invoices" title="Facturas de Compras">
        <span>Facturas de Compras</span>
      </a>
    </li>

  </ul>
</li>