<li class="">
  <a href="#elements6" title="Reportes" data-toggle="collapse">
    <em class="icon-docs"></em>
    <span>Reportes</span>
  </a>
  <ul id="elements6" class="sidebar-nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">Reportes</li>
    <li class="">
      <a href="/reports/min_stock" title="Stock minimo">
        <span>Stock mínimo</span>
      </a>
    </li>
    <li class="">
      <a href="/reports/sold_products" title="Productos vendidos">
        <span>Productos vendidos</span>
      </a>
    </li>
    <li class="">
      <a href="/reports/purchased_products" title="Productos comprados">
        <span>Productos comprados</span>
      </a>
    </li>
    <li class="">
      <a href="/reports/cash_balance" title="Productos comprados">
        <span>Balance de cajas</span>
      </a>
    </li>
  </ul>
</li>