<li class="">
  <a href="#elements3" title="Ventas" data-toggle="collapse">
    <em class="icon-basket"></em>
    <span>Ventas</span>
  </a>
  <ul id="elements3" class="sidebar-nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">Ventas</li>
    <li class="">
      <a href="/sales_invoices" title="Facturas de Ventas">
        <span>Facturas de Ventas</span>
      </a>
    </li>

    <li class="">
      <a href="/order_tickets" title="Nota de Pedido">
        <span>Nota de Pedido</span>
      </a>
    </li>
  </ul>
</li>