<li class="">
  <a href="#elements" title="Stock" data-toggle="collapse">
    <em class="icon-layers"></em>
    <span>Stock</span>
  </a>
  <ul id="elements" class="sidebar-nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">Stock</li>
    <li class="">
      <a href="/products" title="Productos">
        <span>Productos</span>
      </a>
    </li>
    <li class="">
      <a href="#form_level1" title="Formularios" data-toggle="collapse">
        <span>Formularios</span>
      </a>
      <ul id="form_level1" class="sidebar-nav sidebar-subnav collapse">
        <li class="">
          <a href="/forms" title="CPU Producidas">
            <span>CPU Producidas</span>
          </a>
        </li>
        <li class="">
          <a href="/forms/request_forms_index" title="Solicitud de Componentes">
            <span>Solicitud de Componentes</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="">
      <a href="#orden_level1" title="Orden" data-toggle="collapse">
        <span>Ordenes</span>
      </a>
      <ul id="orden_level1" class="sidebar-nav sidebar-subnav collapse">
        <li class="">
          <a href="/orders" title="Orden de Producción">
            <span>Orden de Producción</span>
          </a>
        </li>
        <li class="">
          <a href="/orders/component_orders_index" title="Orden de Componentes">
            <span>Orden de Componentes</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="">
      <a href="/movement_proofs" title="Movimientos">
        <span>Movimientos</span>
      </a>
    </li>
    <li class="">
      <a href="/stocks" title="Stocks">
        <span>Stocks</span>
      </a>
    </li>
  </ul>
</li>